.hiddenTitle {
    position: absolute;
    left: -1000px;
}
body {
    font-family: "Arial Narrow", Arial, sans-serif;
    max-height: 750px;
    max-width: 750px;
    align-items: center;
}
main {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem 2rem;
}

h1, h2 {
    font-family: calibri, sans-serif;
}

p {
    margin: 0;
}

#top {
    height: 100px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-end: 2;
    align-self: start;
    display: flex;
}
#name {
    font-size: 250%;
    align-self: center;
}
.profile {
    height: 100%;
    width: auto;
}
#content1,#content2 {
    grid-row-start: 2;
    grid-row-end: 2;
}
#content1 {
    grid-column-start: 2;
}
#content2 {
    grid-column-start: 1;

}
